{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "plugins": ["@prettier/plugin-lua"],
    "printWidth": 120,
    
    "overrides": [
      {
        "files": "*.bp",
        "options": { "parser": "lua" }
      }
    ]
  }